.header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  &__hamburger {
    display: none;
  }
  &__left {
    display: flex;
    max-width: 50%;
  }
  &__texts {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-left: 65px;
  }
  &__text {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536b;
    mix-blend-mode: normal;
    opacity: 0.7;
    transition: all 0.3s;
  }
  &__text:hover {
    color: #36536b;
    opacity: 1;
  }
  &__text:nth-child(2) {
    padding: 0px 40px;
  }
  &__right {
    max-width: 100%;
  }
  &__btn {
    position: relative;
    margin-left: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 28px;
    border-radius: 24px;
    border: none;
    background-color: #ba4270;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    transition: all 0.2s;
  }
  &__btn:hover {
    background-color: #da6d97;
  }
}
// .wrapper {
//   background-image: url("./../../images/background1.svg");
//   background-repeat: no-repeat;
//   background-position: right top;
// }
.wrapper2 {
  background-position: 10% 90%;
  background-position: right;
  background-repeat: no-repeat;
  // background-image: url("./../../images/background3.svg");
}
input {
  opacity: 0.7;
  font-family: "Public Sans";
}
input:focus {
  border: none;
  outline: none;
}
input:hover {
  opacity: 1;
}
.logo {
  cursor: pointer;
}
.icon {
  padding: 0px 5px;
}
.xxb {
  font-size: 25px;
  color: #fff;
  transition: all 0.3s ease;
}
.xxb:hover {
  rotate: 360deg;
  font-size: 2rem;
  color: #ba4270;
}
@media only screen and (max-width: 770px) {
  .header {
    &__texts {
      padding-left: 80px;
    }
  }
}
@media only screen and (max-width: 655px) {
  .header {
    &__texts {
      display: none;
    }
    &__btn {
      display: none;
    }
    &__btn2 {
      display: block;
    }
    &__btn3 {
      display: block;
    }
    &__hamburger {
      padding-top: 10px;
      padding-right: 25px;
      justify-content: center;
      align-items: center;
      display: block;
    }
  }
}
